.about {
    height: 100vh;
    display: flex;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.about__left {
    width: 40%;
}

.about__right {
    width: 55%;
}

.about__title {
    font-size: 36px;
    font-weight: 800;
    margin-top: 33px;
}

.about__text {
    margin-top: 50px;
}

.about__ps {
    margin-top: 104px;
}