.about {
    height: 100vh;
    display: flex;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about__left {
    width: 20%;
}

about__right {
    width: 50%;
}

.about__title {
    font-size: 36px;
    font-weight: 800;
    margin-top: 33px;
}

.about__text {
    margin-top: 50px;
}