.bottom-section {
    padding-top: 255px;
    padding-bottom: 135px;
    background: url(../images/content/budda.png) no-repeat center;
    background-size: cover;

    &__container {
        padding-right: 26%;
    }
}