.btn-colored {
    padding: 30px 118px;
    border: none;
    background-image: linear-gradient(90deg,#ad00ed,#5500f2);
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 39px 3px;
    cursor: pointer;
}