.feedbacks {
    height: 100vh;
    background-image: url(./images/content/budda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.feedbacks__title{
    font-size: 36px;
    font-weight: 800;
}

.feedbacks-slider__list {
    display: flex;
}

.feedback {
    background-image: url(./images/icons/quote.svg);
    background-size: 81px auto;
    background-repeat: no-repeat;
    background-position: left top;
}