.footer {
  padding: 30px 0;
  color: #fff;
  background: $text-color;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  width: 30%;
}

.footer__data {
  width: 60%;
}

.footer__menu {
  margin-bottom: 30px;
}