.gradient-btn {
  padding: 30px 118px;
  border: none;
  background-image: linear-gradient(to right, #ad00ed, #5500f2);
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 39px 3px;
  cursor: pointer;
}