.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  width: 55%;

  @include tablets {
    display: none;
  }
}

.header__buttons {
  @include phones {
    display: none;
  }
}