.hero {
  position: relative;
  padding-top: 60px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content {
  flex: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24%;
}

.hero__bottom-buttons {
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
