.menu {
  &--color-white {
    color: #fff;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  // margin-right: 60px;
  margin-right: 8%;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}