.scroll{
  display:inline-flex;
  align-self:center;
  align-items:center;
  position:absolute;
  left:50%;
  transform:translate(-50%);
}

.scroll__text{
  font-size: 18px;
  font-weight: 600;
  cursor:pointer;
  margin-right:10px;
}

.scroll__icon{
  width:20px;
  height:20px;
  fill:#fff;

 &:hover{
  fill:#f29400;
  transition: .6s;
    }
}