.skills-row {
  
  &__title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4%;
  }

  &__item {
    margin-left: 4%;
  }
}
