.skills-row__title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
}

.skills-row__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4%;
  @include phones {
    justify-content: center;
  }
}

.skills-row__item {
  margin-left: 4%;
}