.skills-section{
  background: url('../images/content/bg/bg_3.jpg') 0 0 no-repeat;
  background-size:cover;
/* text-align:center; */
}
.skills__title{
  // display:flex;
  text-align:center;
  white-space: nowrap;
  font-weight:bold;
  font-size:38px;
  line-height:1.2;
}