.triangles {
  position: relative;
  height: 100px;

  &--top {
    height: 120px;
    margin-top: -120px;
  }

  &--bottom {
    height: 90px;
    margin-bottom: -90px;
  }

  &__item {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 50%;
    height: 100%;
    fill: #fff;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
