.user-info {
    text-align: center;

    &__desc {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 30px;
        color: rgba($text-color, 0.4);
        font-weight: 600;
    }

    &__name {
        font-size: 72px;
        line-height: 60px;
        font-weight: 800;
        color: $text-color;
    }
}