.user__avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.user__avatar-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 10px 24px 0 rgba(#000, .3);
  margin: 0 70px;
  flex-shrink: 0;
}

.user__table {
  font-weight: 600;
  width: 100%;

  td {
    padding-bottom: 15px;
  }

  tr:last-child td {
    padding-bottom: 0;
  }
}

.user__table-title {
  color: rgba($text-color, .3);
}