.user-min {
  display: flex;
  align-items: center;
}

.user-min__avatar {
  margin-right: 30px;
}

.user-min__pic-wrapper {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
}

.user-min__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.user-min__occ {
  color: rgba($text-color, .3);
  font-weight: 600;
}

