.user-small {
    display: flex;
    align-items: center;

    &__avatar {
        margin-right: 30px;
    }

    &__avatar-wrap {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__name {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 700;
    }

    &__occ {
        font-weight: 600;
        color: rgba($text-color, 0.5);
    }
}