.wellcome-section {
  background-image: url(./images/content/mountain_baloon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wellcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}