.main-content
        .container
          .description Личный сайт веб разработчика
          h1.title Алексей Лещенко
          .scroll
            .scroll__text Скролл
            +icon('scroll', 'scroll__icon')