.main-content
  .main-content__wrapper
      .main-content__desc Личный сайт <br/> веб разработчика
      h1.main-content__title Алексей Лещенко
  .main-content__scroll
    .main-content__scroll-text Скролл
    +icon('scroll', 'main-content__scroll-icon')