.socials
          ul.socials__list
            each social, index in ['insta', 'vk', 'github']
              li.nav__item
                a.nav__url(href='#')
                  +icon(social, 'social__img')