.edit-line-container {
  &.blocked {
    opacity: 0.5;
    filter: grayscale(100%);
    pointer-events: none;
  }
}

.skills-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-card-title__input {
  width: 60%;
}

.skills-card-title__buttons {
  display: flex;
}

.skills-card-title__btn {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}