footer.footer
    .container.footer__container
        .footer__about
            .year &copy; 2020
            +me('footer')
        .footer__information
            +menu('footer')
            .links
                p.my-school Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
                +social('footer')
            .citation 
                p.citation__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает,где вы живете
                p.citation__author Martin Golding
