section.knowledge#knowledge
    .container.knowledge__container
        .keyboard
            +image('hands', 'hands')
        .knowledge__content
            .knowledge__topic
                h2.knowledge__heading Чем я могу быть полезна вам
                - var school = ["Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool. чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!"];
                each loftschool in school
                    .knowledge__school #{loftschool}
            script(type='text/x-template')#skills
                .knowledge__about
                    - 
                        var grafics = [
                        ["Front-end", ["HTML5","CSS3","Javascript","jQuery и Vue.js"]],
                        ["Workflow", ["GIT","Terminal","Gulp","Webpack"]]
                        ];
                    ul.knowledge__list#skills-row
                        each item in grafics
                            li.knowledge__item 
                                .knowledge__item-heading #{item[0]}
                                ul.skills
                                    each skill in item[1]
                                        li.skills__item #{skill}
                                            svg(viewbox='0 0 0 100 100' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink").circle#skill-icon(
                                                :skillName='skillName' 
                                                :skillPercent='skillPercent'
                                            )
                                                circle(cx='85' cy='85' r='50' fill="none" stroke='url(#linear-gradient)' stroke-width='15' stroke-dashoffset='0' stroke-dasharray='380').circle-icon 
                                                linearGradient#linear-gradient
                                                    stop(offset="0%" stop-color="gold").stop-1
                                                    stop(offset="100%" stop-color="teal").stop-2
