.paralax__layer(data-speed='0')
    +image('layer4','layer')
.paralax__layer(data-speed='0.08')
    +image('layer1','layer')
.paralax__layer(data-speed='0.12')
    +image('layer2','layer')
.paralax__layer(data-speed='0.16')
    +image('layer3','layer')



