.paralax__layer(data-speed='0.2')
    +image('layer1','layer')
.paralax__layer(data-speed='0.5')
    +image('layer2','layer')
.paralax__layer(data-speed='0.7')
    +image('layer3','layer')
.paralax__layer(data-speed='0')
    +image('layer4','layer')

