section.projects
    .container.projects__container
        h2.projects__heading Мои работы
        .projects__block
            .presentation
                .image-block
                    +image('slide1', 'screen')
                    .count 1
                    .slider
                        .slider-block
                            +presentation('presentation')
                        ul.slider__buttons
                            li.slider__right
                                +icon('back','arrows')
                            li.slider__left
                                +icon('next','arrows')
            .projects__school
                - var knowledges = ["HTML","CSS","Javascript"]
                    ul.knowledges-list
                        each item in knowledges
                            li.knowledges-list__item #{item}
                    h3.projects__school-heading Сайт школы образования
                    p.projects__school-description Эта девчонка проходила обучение веб-разработке не где-то, а в Loftschool! 3 месяца только самых тяжелых испытаний и бессоных ночей!
                    .link
                        +icon('link','link')
                        a(href="https://loftschool.com").link__school Посмотреть сайт