section.welcome#welcome
    .container.welcome__container
        header.header
            .logo  CР
            .sidebar(:class="{show: appearMenu}")
                +menu('sidebar')
                +social('sidebar')
                div(@click='hide' @touched='hide')
                    +icon('close','close')
            +menu('header')
            +social('header')
            div(@click='appear' @touched='appear')
                +icon('menu' , 'menu')
        +me('header')
        .scroll-block
            a.scroll__link(href="#") Скролл
            +icon('scroll','scroll')