section.welcome
    .container.welcome__container
        header.header
            .logo  CР
            +menu('header')
            +social('header')
            +icon('menu' , 'menu')
            +icon('close','close')
        +me('header')
        .scroll-block
            a.scroll__link(href="#") Скролл
            +icon('scroll','scroll')