@import "normalize.css";
@import "../src/styles/mixins.pcss";
@import "../src/styles/layout/base.pcss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

body {
  margin: 10px;
}