include ./pug/mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Portfolio | main page
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  body
    .wrapper
      section.page
        .splitblock
          .paralax
            include ./pug/paralax.pug
          include ./pug/welcome.pug
          include ./pug/about.pug
        include ./pug/knowledge.pug
        include ./pug/projects.pug
        include ./pug/contacts.pug
      include ./pug/footer.pug







