include ./templates/mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      header.header
        .container
        .favicon
          +image('content/Favicon.png', 'favicon-pic')
        nav.nav
          ul.nav__list
            each val, index in ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
              li.nav__item
                a.nav__url(href='#', data-scroll-to=index)=val
        
        .socials
          ul.socials__list
            each social, index in ['insta', 'vk', 'github']
              li.nav__item
                a.nav__url(href='#')
                  +icon(social, 'social__img')

      .main-content
        .container
          .description Личный сайт веб разработчика
          h1.title Алексей Лещенко
          .scroll
            .scroll__text Скролл
            +icon('scroll', 'scroll__icon')

      section.section


        +image('content/user.jpg', 'user-pic')
        +icon('link', 'link-class')
        .icon-bg